<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>groupie-tracker</title>
</head>

<body>
  <div class="every">
    <div class="header">
      <b>Groupie Tracker/b>
    </div>
    <div class="container">
      {{range .}}
      <div class="all">
        <div class="group">
          <b><a href="/artists/{{.ID}}"><img src="{{.Image}}" class="picture"></a></b></br>
        </div>
        <b><a href="/artists/{{.ID}}" class="group_name">{{ .Name }}</a></b>
      </div>
      {{end}}
    </div>
  </div>
</body>

</html>